.button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.hidden {
  visibility: hidden;
}
.h1 {
  text-align: center;
  color: red;
}
.visible {
  visibility: visible;
  text-align: center;
  font-size: 15px;
  color: blue;
}
.button-red {
  color: white;
  background-color: red;
}
.button-blue {
  color: white;
  background-color: blue;
}
